@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  /* font-family: "Advent Pro", sans-serif; */
  
}
body{
  margin: 0;
  padding: 0;

}

.container {
  max-width: 1500px;
  margin: auto;
}

#productSection {
  padding: 0px 12px;
  margin: 80px 0px;
}

section > div > div:hover {
  cursor: pointer;
}

#productSection > section > h1 {
  margin: 20px 0px;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
}

#displayContents > div,
#menOriginals > div,
#bestOfAdidas > div {
  /* border: 1px solid black; */
  min-width: 21%;
  font-family: "Noto Sans", sans-serif;
  position: relative;
}

#displayContents,
#menOriginals,
#bestOfAdidas {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  /* padding-right: 20px; */
}

/* #displayContents{
    height: 525px;
} */

.cards > {
  height: auto;
}

#menOriginals,
#bestOfAdidas {
  height: 380px;
}
#menOriginals > div:hover,
#bestOfAdidas > div:hover {
  border: 1px solid black;
}

#menHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#menHeading > a {
  color: black;
  font-size: 13px;
  letter-spacing: 3px;
  height: 60%;
  margin-top: 10px;
}
#menHeading > h1 {
  margin-bottom: 20px;
}

.wishlistSymbol {
  position: absolute;
  top: 16px;
  right: 16px;
}

.wishlistSymbol:hover {
  font-size: 25px;
}

.cartSym {
  position: absolute;
  top: 58%;
  right: 16px;
  font-size: 30px;
  color: rgb(54, 54, 54);
}
.cartSym:hover {
  color: rgb(14, 14, 14);
  font-size: 35px;
}

#productSection a:hover {
  background-color: black;
  color: white;
}

.price1 {
  background-color: white;
  padding: 0px 5px;
  position: absolute;
  top: 62%;
  left: 0px;
}

.price {
  background-color: white;
  padding: 0px 5px;
  position: absolute;
  top: 65%;
  left: 0px;
}

#productSection img {
  width: 100%;
}

#productSection h4 {
  margin: 5px 0px;
  font-size: 16px;
}

#productSection p {
  margin: 10px 0px;
  font-size: 16px;
  color: rgb(44, 44, 44);
}

#productSection > section:nth-child(2) a {
  color: black;
  font-size: 13px;
  font-weight: 700;
  /* position: absolute;
    bottom: 10px; */
}

#productSection > section:nth-child(2) a:hover {
  color: white;
  background-color: #000000;
  padding: 5px 5px;
  text-decoration: none;
  /* position: absolute;
    bottom: 10px; */
}

#productSection h6 {
  margin: 2px;
  font-weight: 100;
}

#menDescription {
  margin: auto;
  margin-bottom: 50px;
  width: 750px;
  text-align: center;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
}

#menDescription > h1 {
  font-size: 40px;
}

#menDescription > p {
  margin-top: 20px;
  font-size: 17px;
  font-family: "Work Sans", sans-serif;
}

/* -------------------------------------------- */

#container_banner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin: 50px auto;
  height: 250px;
}

.container_banneer_img1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebeff1;
}

.container_banneer_img1 > img {
  width: 80%;
  height: 200px;
}

.container_banneer_img1 > h5 {
  text-decoration: underline;
  margin-top: 10px;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

.container_banneer_img1 > h5:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  #container_banner {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 50px auto;
  }
  .container_banneer_img1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #ebeff1;
    align-items: flex-end;
  }
  .container_banneer_img1 > img {
    width: 50%;
    height: auto;
  }
  #displayContents > div {
    min-width: 40%;
  }
  #menOriginals > div,
  #bestOfAdidas > div {
    min-width: 31%;
  }

  #productSection > section > h1 {
    margin: 20px 0px;
  }
  /* section {
    margin: 50px 0px;
  } */
  .price {
    top: 190px;
  }
  .price1 {
    bottom: 50px;
  }
  #menDescription {
    width: 90%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  #container_banner {
    grid-template-columns: repeat(1, 1fr);
    height: 580px;
  }
  .container_banneer_img1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }
  .container_banneer_img1 > img {
    width: 40%;
    height: auto;
  }
  #displayContents > div {
    min-width: 85%;
  }
  #menOriginals > div,
  #bestOfAdidas > div {
    min-width: 42%;
  }

  
  #productSection > section > h1 {
    margin: 20px 0px;
  }
  /* section {
    margin: 50px 0px;
  } */
  .price {
    top: 105px;
  }
  .price1 {
    bottom: 65px;
  }
}

/* poster css start */

* {
  margin: 0px;
}

#poster {
  width: 100%;
  height: 100vh;
  min-height: 30vh;
  background-image: url("https://brand.assets.adidas.com/image/upload/f_gif,fl_lossy,q_auto/em_in_yougotthis_paralympics_hp_bnr_d_ae11558349.gif");
  background-size: cover;
  display: flex;
}

.poster_container {
  width: auto;
  margin-left: 20px;
}

.poster_container > span {
  color: white;
  font-size: 36px;
  margin-top: 20px;
}

.poster_container > button {
  padding: 15px 25px;
  background-color: white;
  color: black;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
}

.poster_container > i {
  font-size: 20px;
  color: black;
  margin-left: 10px;
}

/* poster css end */

/* poster media queries start  */

@media only screen and (min-width: 600px) and (max-width: 960px) {
  #poster {
    align-items: flex-end;
    height: 60vh;
    background-size: cover;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/8047038/pexels-photo-8047038.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }
  .poster_container {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 960px) {
  #shoe-show {
    align-items: flex-end;
    height: 60vh;
    background-size: cover;
    width: 100%;
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/FW_24_ultima_hp_banner_hero_d_d285fb5471.png");
  }
  .poster_container {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  #poster {
    align-items: flex-end;
    width: 100%;
    min-width: 100%;
    background-image: url("https://images.pexels.com/photos/4619884/pexels-photo-4619884.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  }
  .poster_container {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 599px) {
  #shoe-show {
    align-items: flex-end;
    width: 100%;
    min-width: 100%;
    background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/FW_24_ultima_hp_banner_hero_d_d285fb5471.png");
  }
  .poster_container {
    margin-bottom: -80px;
  }
}

/* poster media queries end  */
.popular-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 20px;
  margin-left: 100px;
}
.popular-section-card{
  font-size: 34px;
  border-bottom: 1px solid black;
  width: 260px;
  margin-top: 80px;
}
.popular-section-card:hover{
  font-weight: 400;
  border-bottom: 7px solid black;
}
/* yellow container css start */

.yellow_container {
  background-color: #ede734;
  padding: 30px 20px;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  
}
marquee{
  padding: 20px;
  font-size: 34px;
}

.yellow_container_heading {
  width: 60%;
  font-size: 30px;
  margin-left: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#shoe-show {
  align-items: flex-end;
  width: 100vw;
  min-width: 100%;

  background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/FW_24_ultima_hp_banner_hero_d_d285fb5471.png");
  background-size: cover;
  display: flex;
}
#shoe-show {
  width: 100%;
  height: 100vh;
  min-height: 30vh;
  background-image: url("https://brand.assets.adidas.com/image/upload/f_auto,q_auto,fl_lossy/if_w_gt_1920,w_1920/FW_24_ultima_hp_banner_hero_d_d285fb5471.png");
  background-size: cover;
  display: flex;
}
.poster_container > div,
.yellow_container_heading > div {
  position: relative;
  width: auto;
}

.yellow_container_btn {
  position: absolute;
  bottom: 4px;
  left: -5px;
  display: flex;
  padding: 15px 12px;
  background-color: black;
  color: white;
  border: transparent;
}

.yellow_container_btn:hover {
  cursor: pointer;
  color: lightgray;
}

.btn-back {
  width: 133px;
  height: 43px;
  border: 1px solid black;
}

@media only screen and (min-width: 0px) and (max-width: 960px) {
  .yellow_container_heading {
    width: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .yellow_container_heading > div {
    margin-top: 10px;
  }
}

/* yellow container css end */

/* men product list  */
#men_product_list {
  display: flex;
  padding: 10px;
  width: 98%;
  justify-content: center;
  margin-bottom: 150px;
}

#men_product_list > div {
  margin-top: 20px;
  width: 20%;
}

#men_product_list > div > h5 {
  font-size: 18px;
  letter-spacing: -1px;
  margin-bottom: 5px;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
}

#men_product_list > div > ul {
  list-style: none;
  padding-left: 0px;
}

#men_product_list > div > ul > li {
  padding: 6px;
  padding-left: 0px;
  font-size: 15px;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
}

#men_product_list > div > ul > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* --------------------------------------------------------------------- */

#login_cart_bar {
  display: none;
  justify-content: space-around;
  background-color: black;
  color: white;
}

#login_cart_bar > div {
  margin-top: 0;
  /* padding: 20px; */
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
}

#product_list {
  display: flex;
  padding: 10px;
  width: 98%;
  justify-content: center;
}

#product_list > div {
  margin-top: 20px;
  width: 11%;
}

#product_list > div > h5 {
  font-size: 18px;
  letter-spacing: -1px;
  margin-bottom: 5px;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
}

#small_screenProductList > div > ul,
#product_list > div > ul {
  list-style: none;
  padding-left: 0px;
}

#small_screenProductList > div > ul > li,
#product_list > div > ul > li {
  padding: 6px;
  padding-left: 0px;
  font-size: 12px;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
}

#small_screenProductList > div > ul > li:hover,
#product_list > div > ul > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

#small_screenProductList {
  background-color: black;
  display: none;
  justify-content: space-around;
  color: white;
  height: 100px;
  width: 100%;
  padding-top: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 960px) {
  #login_cart_bar {
    display: flex;
  }

  #product_list {
    display: none;
  }

  #men_product_list {
    display: none;
  }

  #small_screenProductList {
    display: flex;
  }
}

/* header and footer  */
.nav *,
footer {
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: auto;
}

#container {
  width: 100%;
  height: 100vh;
}

.hamburger {
  cursor: pointer;
  display: none;
  height: 30px;
  margin: 50px 0px;
}
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-4px) rotate(45deg);
}
.change #bar2 {
  /* display: none; */
  opacity: 0;
}
.hamnames {
  list-style: none;
    background-color: #fff;
    color: black;
    height: 52vh;
    width: 100vw;
    display: none;
    margin-left: -20px;
}

.category {
  display: flex;
  flex-direction: column;
}

.hamnames > li > a {
  color: black;
  text-decoration: none;
}
.bar {
  height: 4px;
  width: 30px;
  display: block;
  background-color: #000000;
  transition: 0.4s ease;
}
#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}

.uppernav {
  width: 100%;
  height: 30px;
  font-size: 11px;
  background-color: #000000;
  display: flex;
}
.flex {
  display: flex;
}

.uppernav > .container > p > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  word-spacing: 2px;
  letter-spacing: 2px;
  gap: 10px;
}

.firstnav {
  padding-left: 70%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 32px;
  width: 100%;
  margin-right: 2%;
  font-size: 12px;
  margin-top: 4px;
}

.firstnav > p > a {
  text-decoration: none;
  color: #524f4f;
}

.midnav {
  height: 4em;
  display: flex;
  /* border: 1px solid red; */
}

.adidaslogo {
  height: 50px;
  top: -10px;
  width: 75px;
  position: relative;
}

.logodiv {
  display: flex;
  margin-left: 2%;
}

.cat {
  display: flex;
  width: 50%;
  font-size: 14px;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.cat > p:nth-child(-n + 3) > a {
  color: #000000;
  text-decoration: none;
}
.cat > p > a {
  color: #524f4f;
  text-decoration: none;
}

.search {
  height: 34px;
  width: 200px;
  background-color: #e9ecef;
  border: none;
  margin-right: 10px;
}



/* .center {
    height: 1400px;
} */

.blackfoot{
  width: 100vw;
  background-color:#282c31;
  height: 150px;
  

}
.privacy-foot{
  width: 400px;
  height: 100%;
  border: 1px solid #282c31;
  margin: auto;
  color: #aca29a;
  
  
}
.privacy-upp>hr{
  color: white;
  height: 15px;
  width: 2px;
}
.privacy-upp{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  
}

.privacy-down{
  margin-top: 60px;
  text-align: center;
}

.icons {
  display: flex;
  margin-right: 10px;
  position: relative;
}
#wishlistLen {
  position: absolute;
  top: -4px;
  right: 11%;
  border-radius: 50%;
  background-color: #197fb6;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}
@media only screen and (min-width: 0px) and (max-width: 960px) {
  #wishlistLen {
    display: none;
  }
}

/* .poster-end-text{
  display: flex;
  align-items: flex-end;
  margin-bottom: 100px;
  margin-left: 50px;
  
} */
.poster-text {
  display: flex;
  align-items: flex-end;
  margin-bottom: 100px;
  margin-left: 50px;
}
.poster-text-shoe {
  display: flex;
  align-items: flex-end;
  margin-bottom: 100px;
  margin-left: 50px;

  height: 100vh;
}

.disicon {
  margin: 15px;
  margin-right: 10px;
}
#cartLen {
  position: absolute;
  top: -4px;
  right: -2%;
  border-radius: 50%;
  background-color: #197fb6;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.fas,
.far {
  color: #000000;
}

.searchicon {
  display: none;
}

.center {
  background-color: #f0d7bb;
}

.lastfoot1 {
  background-color: #363738;
  height: 120px;
  color: #ffffff;
  font-size: 12px;
  width: 100vw
}

.indialogo {
  height: 8px;
  width: 18px;
  margin-left: 20%;
  margin-top: 28px;
}

.copyright {
  margin-top: 3%;
}

.copyright > a {
  margin-left: 20%;
  color: #ffffff;
  text-decoration: none;
}

.tnc {
  display: flex;
  margin-top: -6%;
  margin-left: 65%;
  margin-right: 15%;
}

.tnc > p > a {
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (min-width: 900px) and (max-width: 1000px) {
  .cat {
    width: 50%;
    font-size: 11px;
  }

  .search {
    height: 30px;
    width: 160px;
  }

  .firstnav {
    padding-left: 60%;
  }

  .logodiv {
    margin-left: 1%;
  }

  .tnc {
    display: flex;
    margin-top: -50px;
    margin-left: 60%;
    margin-right: 2%;
  }

  .tnc > p > a {
    word-spacing: 5%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 900px) {
  .logodiv {
    margin-top: 12px;
    height: 100%;
    width: 100%;
  }

  .displaynone,
  .heart,
  .uppernav :nth-child(2),
  .uppernav :nth-child(3) {
    display: none;
  }

  .icons {
    margin-top: 20px;
    margin-right: 2%;
  }

  .searchicon {
    display: initial;
    margin-left: 5px;
  }

  .hamburger {
    display: initial;
    margin: 15px 2%;
  }

  .tnc {
    display: block;
    line-height: 20px;
  }

  .indialogo {
    margin-left: 2%;
    margin-top: 20px;
  }

  .copyright > a {
    margin-left: 2%;
  }
}
